<?php
/** @var \Magento\Framework\View\Element\Template $block */
/** @var \Scalapay\Scalapay\Ui\ViewModel\ScalaWidgetConfig $configViewModel */
/** @var \Scalapay\Scalapay\Ui\ViewModel\DataViewModelInterface $dataViewModel */

$configViewModel = $block->getConfigViewModel();
$dataViewModel = $block->getDataViewModel();

$isAllowed = $configViewModel->isScalapayActive(
    $dataViewModel->getPrice(),
    $dataViewModel->getProductsIds(),
    $dataViewModel->getCountry()
);
?>
<?php if ($configViewModel->isVisible() && $isAllowed) : ?>
    <div id="scalapayText" style="margin: 0 0 10px 0;min-height:20px;" >
        <scalapay-widget
            amount="<?= /* @noEscape */ $dataViewModel->getPrice(); ?>"
            min="<?= /* @noEscape */ $configViewModel->getMinAmount(); ?>"
            max="<?= /* @noEscape */ $configViewModel->getMaxAmount(); ?>"
            size="<?= /* @noEscape */ $configViewModel->getTextSize(); ?>"
            logoSize="<?= /* @noEscape */ $configViewModel->getLogoSize(); ?>"
            priceColor="<?= /* @noEscape */ $configViewModel->getPriceColor(); ?>"
            logoColor="<?= /* @noEscape */ $configViewModel->getLogoColor(); ?>"
            logoAlignment="<?= /* @noEscape */ $configViewModel->getLogoAlignment(); ?>"
            amountSelectorArray='<?= /* @noEscape */ $configViewModel->getAmountSelectors() ?>'
            numberOfPayments="<?= /* @noEscape */ $configViewModel->getNumberOfPayments(); ?>"
            hideLogo="<?= /* @noEscape */ !$configViewModel->isLogoShown(); ?>"
            locale="<?= /* @noEscape */ $configViewModel->getCurrentLanguage(); ?>"
            priceBoxSelector="<?= /* @noEscape */ $configViewModel->getPriceBoxSelector(); ?>"
            hidePrice="<?= /* @noEscape */ $configViewModel->isPriceHidden(); ?>">
        </scalapay-widget>
    </div>
    <script src="https://cdn.scalapay.com/js/scalapay-widget/webcomponents-bundle.js"></script>
    <script src="https://cdn.scalapay.com/js/scalapay-widget/scalapay-widget.js"></script>
    <script type="text/javascript">
        const textPosition = '<?= /* @noEscape */ $configViewModel->getTextPosition(); ?>';
        const scalapayText = 'scalapayText';
        let referenceNode = document.querySelector(textPosition);
        referenceNode.parentNode.insertBefore(
            document.getElementById(scalapayText),
            referenceNode.nextSibling
        );
    </script>
<?php endif; ?>
